.userInfoWrapper {
  padding: 40px 80px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.userInfoWrapper h1 {
  color: #072654;
  margin-bottom: 10px;
}
.userInfoWrapper__subtitle {
  color: #a4a5aa;
  margin-bottom: 30px;
}
.userInfoWrapper__nameInputBlock, .userInfoWrapper__emailInputBlock, .userInfoWrapper__phoneInputBlock {
  width: auto;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 35px;
}
.userInfoWrapper__nameInputBlock_title, .userInfoWrapper__emailInputBlock_title, .userInfoWrapper__phoneInputBlock_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #072654;
  font-weight: bold;
  font-size: 16px;
}
.userInfoWrapper__nameInputBlock_title p:nth-child(2), .userInfoWrapper__emailInputBlock_title p:nth-child(2), .userInfoWrapper__phoneInputBlock_title p:nth-child(2) {
  color: #ff1e34;
}
.userInfoWrapper__btnBlock {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
  margin-top: 50px;
}
.userInfoWrapper__btnBlock button {
  width: 150px;
  outline: none;
  background-color: #072654;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.userInfoWrapper__btnBlock button:hover {
  transition: 0.1s;
  transform: scale(1.05);
}
.userInfoWrapper__btnBlock button:active {
  transition: 0.1s;
  transform: scale(0.95);
}
.userInfoWrapper {
  /*SelectPlan*/
}
.userInfoWrapper__blockPlan {
  width: 100%;
  height: 170px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userInfoWrapper__blockPlan_firstPlan, .userInfoWrapper__blockPlan_secondPlan, .userInfoWrapper__blockPlan_thirdPlan {
  width: 30%;
  height: 170px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}
.userInfoWrapper__blockPlan_firstPlan_imgBlock, .userInfoWrapper__blockPlan_secondPlan_imgBlock, .userInfoWrapper__blockPlan_thirdPlan_imgBlock {
  width: 100%;
  height: 50px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.userInfoWrapper__blockPlan_firstPlan_textBlock p:nth-child(1), .userInfoWrapper__blockPlan_secondPlan_textBlock p:nth-child(1), .userInfoWrapper__blockPlan_thirdPlan_textBlock p:nth-child(1) {
  color: #072654;
  font-weight: bold;
}
.userInfoWrapper__blockPlan_firstPlan_textBlock p:nth-child(2), .userInfoWrapper__blockPlan_secondPlan_textBlock p:nth-child(2), .userInfoWrapper__blockPlan_thirdPlan_textBlock p:nth-child(2) {
  color: #a2a2ac;
}
.userInfoWrapper__periodPlan {
  width: 100%;
  height: 50px;
  background-color: #f8f9fe;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  font-size: 18px;
  padding: 0 10px;
  box-sizing: border-box;
}

.errorInput {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #ff1e34;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 10px;
  box-sizing: border-box;
}
.errorInput::-moz-placeholder {
  color: #ff1e34;
}
.errorInput::placeholder {
  color: #ff1e34;
}

@media (max-width: 768px) {
  .userInfoWrapper {
    padding: 20px 40px;
  }
}/*# sourceMappingURL=UserInfo.css.map */