.UIWrapper{
    width: 100%;
    height: 100%;
    padding: 60px 50px 20px 50px;
    box-sizing: border-box;
    border-radius: 10px;
    &__titleBlock{
        width: 100%;
        height: auto;
        padding-bottom: 30px;
        box-sizing: border-box;
        &_userInfoTitle,
        &_selectPlanTitle,
        &_addOnsTitle,
        &__summaryTitle{
            color: #00204d;    
            margin-bottom: 15px;
        }
        &_userInfoSubTitle,
        &_selectPlanSubTitle,
        &_addOnsSubTitle,
        &_summarySubTitle{
            color: rgb(152, 152, 152);
        }
    }
    &__contentBlock{
        width: 100%;
        height: auto;
        &_blockInputName,
        &_blockInputEmail,
        &_blockInputPhone{
            width: 100%;
            height: auto;
            padding-bottom: 30px;
            &_titleLine{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
                p:nth-child(1){
                    font-size: 18px;
                    font-weight: bold;
                    color: #00204d;
                }
                p:nth-child(2){
                    font-size: 18px;
                    font-weight: bold;
                    color: #ff3f3f;
                }
            }
            &_input{
                width: 100%;
                height: 40px;
                outline: none;
                border: 1px solid rgba(212, 212, 212, 0.679);
                border-radius: 5px;
                font-size: 18px;
                padding: 5px 10px;
                box-sizing: border-box;
            }
        }
        &_planBlock{
            width: 100%;
            min-height: 200px;
            margin-bottom: 40px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            &_arcadeInactive,
            &_advancedInactive,
            &_proInactive{
                width: 30%;
                height: 100%;
                border: 1px solid silver;
                border-radius: 10px;
                padding: 20px 10px;
                box-sizing: border-box;
                cursor: pointer;
                &:hover{
                    border: 1px solid #00204d;
                    background-color: #f8f9fe;
                }
                &_title{
                    margin-top: 40px;
                    color: #00204d;
                    font-size: 18px;
                    font-weight: bold;
                }
                &_cost{
                    color: silver;
                }
                &_cutPrice{
                    color: #00204d;
                    font-weight: 500;
                }
            }
            &_arcadeActive,
            &_advancedActive,
            &_proActive{
                width: 30%;
                height: 100%;
                border: 1px solid #00204d;
                background-color: #f8f9fe;
                border-radius: 10px;
                padding: 20px 10px;
                box-sizing: border-box;
                cursor: pointer;
                &_title{
                    margin-top: 40px;
                    color: #00204d;
                    font-size: 18px;
                    font-weight: bold;
                }
                &_cost{
                    color: silver;
                }
                &_cutPrice{
                    color: #00204d;
                    font-weight: 500;
                }
            }
        }
        &_changePeriod{
            width: 100%;
            height: 50px;
            background-color: #f8f9fe;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin-bottom: 22px;
            border-radius: 10px;
            &_toggle{
                width: 60px;
                height: 30px;
                border-radius: 20px;
                background-color: #00204d;
                padding: 5px;
                box-sizing: border-box;
                cursor: pointer;
                &_circleMonthly,
                &_circleYearly{
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    border-radius: 50%;
                }
                &_circleYearly{
                    transform: translateX(30px);
                }
            }
        }
    }
    &__buttonDesktop{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        &_buttonNextStep,
        &_buttonBackStep{
            outline: none;
            width: 150px;
            height: 50px;
            background-color: #00204d;
            color: white;
            font-size: 16px;
            font-weight: bold;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                transform: scale(1.05);
                transition: all 0.1s;
            }
            &:active{
                transform: scale(0.95);
                transition: all 0.1s;
            }
        }
        &_buttonBackStep{
            background-color: white;
            color: #00204d;
        }
    }
    &__finish{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img,
        h1{
            margin-bottom: 20px;
        }
        p{
            width: 80%;
            text-align: center;
            color: rgb(152, 152, 152);
            span{
                text-decoration: underline;
                text-underline-offset: 5px;
                font-style: italic;
                cursor: pointer;
            }
        }
    }
}

.buttonMobile{
        display: none;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        height: 80px;
        padding: 0px 20px;
        box-sizing: border-box;
        &__buttonNextStep,
        &__buttonBackStep{
            outline: none;
            width: 150px;
            height: 50px;
            background-color: #00204d;
            color: white;
            font-size: 16px;
            font-weight: bold;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                transform: scale(1.05);
                transition: all 0.1s;
            }
            &:active{
                transform: scale(0.95);
                transition: all 0.1s;
            }
        }
        &__buttonBackStep{
            background-color: white;
            color: #00204d;
        }
}

@media(max-width:768px){
    .UIWrapper{
        width: 90%;
        min-height: 350px;
        padding: 30px 20px;
        background-color: white;
        margin: 0 auto;
        margin-top: -100px;
        margin-bottom: 50px;
        &__titleBlock{
            width: 100%;
            height: auto;
            padding-bottom: 40px;
            box-sizing: border-box;
            &_userInfoTitle,
            &_selectPlanTitle,
            &_addOnsTitle,
            &__summaryTitle{
                color: #00204d;    
                margin-bottom: 15px;
            }
            &_userInfoSubTitle,
            &_selectPlanSubTitle,
            &_addOnsSubTitle,
            &_summarySubTitle{
                color: rgb(152, 152, 152);
            }
        }
        &__buttonDesktop{
            display: none;
        }
        &__contentBlock{
            &_planBlock{
                display: flex;
                flex-direction: column;
                &_arcadeInactive,
                &_advancedInactive,
                &_proInactive{
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                }
                &_arcadeActive,
                &_advancedActive,
                &_proActive{
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .buttonMobile{
        display: flex;
    }
}

@media(max-width:425px){
    .UIWrapper{
        &__titleBlock{
            &_userInfoTitle{
                font-size: 25px;
            }
        }
    }
}