*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eef5ff;
}

.contentBlock{
  width: 1000px;
  height: 600px;
  border-radius: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  padding: 10px;
  box-sizing: border-box;
}

@media(max-width:1024px){
  .contentBlock{
    width: 98%;
  }
}

@media(max-width:768px){
  .wrapper{
    display: inline;
  }
  .contentBlock{
    width: 100%;
    background-color: #eef5ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
}